@font-face {
    font-family: 'MadeTommy';
    src: url(/fonts/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnscript';
    src: url(/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #AC653D;
    display: flex;
    flex-direction: column;
    border: solid 0.5px black;
}

:root {
    --cor-de-fundo: #AC653D;
    --verde: #063C35;
    --fonte-principal:"MadeTommy";
    --fonte-secundaria:"Bahnscript";
}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("/imgs/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--verde);
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.container__imagem {
    padding: 1em;
    height: 2.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: #063C35;
}

.lista-menu__link {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: var(--fonte-principal);
}

.container__botao {
    display: none;
}

.container__corpo {
    display: flex;
    flex-direction: column;
}