*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

@font-face {
    font-family: 'MadeTommy';
    src: url(/fonts/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ac653d;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #063c35;
    padding-top: 15px;
    padding-bottom: 10px;
}

#div-logo{

}

#logo {
    width: 270px;
    height: 60px;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

#navbar ul li {
    align-items: center;
}

#navbar a {
    color: white;
    font-family: 'MadeTommy';
    text-transform: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;

}

#navbar a:hover {
    font-size: 130%;
}

#corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

address  {
    color: white;
    font-family: 'MadeTommy';
    text-transform: none;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
    width: 2000px;
    display: inline;
    
}

address a {
    text-decoration: none;
    color: white;
    font-family: 'MadeTommy';
    font-size: 15px;

}

#info-site {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 95%;
    height: 2000px;
    margin-top: 35px;
    margin-left: 10px;
    padding-left: 10px;
    position: absolute;
    top: 130px;
    left: 935px;
}


#sobre {
    width: 40%;
}

#sobre h1 {
    color: white;
    font-family: 'MadeTommy';
    font-size: 35px;
    text-shadow: black  0.5px 0.4px 0.5px;
    text-transform: uppercase;
}

#sobre p {
    color: white;
    font-family: 'MadeTommy';
    text-align: justify;
    text-shadow: black  0.5px 0.4px 0.5px;
    font-size: 18px;
}

.background-image {
    width: 85%;
}

.background-image img {
    opacity: 100%;
    width: 100%;
}
